// Colors
$color-primary-dark: #4d96a9;
$color-primary-light: #8fe3f9;
$color-secondary-dark: #855fb1;
$color-secondary-light: #d9b8ff;
$color-tertiary-dark: #28283d;
$color-tertiary-light: #87879d;
$color-white: #fafafa;

// Container
$max-width-large: 80%;
$max-width-small: 90%;

$transition: all 0.3s ease;

// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@mixin respond($breakpoint) {
	@if $breakpoint == phone {
		@media only screen and (max-width: 37.5em) {
			@content;
		} //600px
	}

	@if $breakpoint == tab-port {
		@media only screen and (max-width: 56.25em) {
			@content;
		} //900px
	}
}

/* Reset */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

// Main Style
body {
	font-family: 'Red Hat Display', sans-serif;
	color: $color-tertiary-light;
}

a {
	text-decoration: none;
}

// Utility Classes
.pargraph {
	font-size: 1.8rem;
	font-weight: 500;
	line-height: 2.6rem;

	@include respond(tab-port) {
		font-size: 1.6rem;
	}
}

.u-margin-bottom-l {
	margin-bottom: 3.3rem;
}
