.heading-primary {
	font-weight: 900;
	font-size: 6.4rem;
	line-height: 6.4rem;
	color: $color-tertiary-dark;

	@include respond(tab-port) {
		font-size: 4.8rem;
		line-height: 4.8rem;
	}

	@include respond(phone) {
		font-size: 4rem;
		line-height: 4.4rem;
	}
}

.heading-secondary {
	font-weight: 900;
	font-size: 4rem;
	line-height: 4.4rem;
	color: $color-tertiary-dark;

	&--white {
		color: $color-white;
	}
}

.heading-tertiary {
	font-weight: 900;
	font-size: 1.6rem;
	line-height: 2.6rem;
	letter-spacing: 0.4rem;
	color: $color-primary-dark;
	text-transform: uppercase;
}

.btn {
	padding: 1.6rem 2.9rem;
	color: $color-white;
	border-radius: 10rem;
	font-size: 1.6rem;
	font-weight: 900;
	line-height: 2.6rem;
	display: inline-block;

	&__span--primary {
		color: $color-primary-light;
	}

	&__span--secondary {
		color: $color-secondary-light;
	}

	&--primary,
	&--secondary {
		transition: $transition;
	}

	&--primary {
		background-color: $color-primary-dark;

		&:hover {
			background-color: rgba(113, 192, 212, 1);
		}
	}

	&--secondary {
		background-color: $color-secondary-dark;

		&:hover {
			background-color: #b18bdd;
		}
	}
}

.number-seperator {
	width: 5.6rem;
	height: 5.6rem;
	margin: auto;
	margin-top: 15rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	font-size: 1.6rem;
	font-weight: bold;
	background-color: $color-white;
	border: 1px solid $color-tertiary-light;
	border-radius: 50%;

	&::before {
		content: '';
		width: 0.1rem;
		margin: 0 auto;
		height: 8.1rem;
		background-color: $color-tertiary-light;
		position: absolute;
		top: -8rem;
	}

	&--overlay {
		background-color: $color-white;
		position: relative;
		top: 3rem;
		z-index: 111;
	}
}

// Main Style

.logo {
	width: 11.9rem;
	height: 2.8rem;
	margin: 8rem auto;

	@include respond(tab-port) {
		margin-top: 6rem;
	}

	@include respond(phone) {
		margin-top: 5rem;
	}
}

// SHOWCASE SECTION
.showcase {
	display: flex;
	overflow-x: hidden;
	justify-content: space-between;

	@include respond(tab-port) {
		flex-direction: column;
		height: 60rem;
	}

	@include respond(phone) {
		flex-direction: column;
		height: 55rem;
	}

	&__content {
		flex-basis: 40%;

		@include respond(tab-port) {
			max-width: $max-width-small;
			margin: auto;
			margin-top: 4rem;
		}
	}

	&::before {
		content: '';
		background: url(../images/image-hero-left.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		flex-basis: 30%;
		margin-left: -3rem;

		@include respond(tab-port) {
			content: '';
			background: url(../images/image-hero-responsive.png);
			background-position: center;
			background-size: auto;
			background-repeat: no-repeat;
			flex-basis: 100%;
			margin: 0;
		}

		@include respond(phone) {
			background-size: cover;
		}
	}

	&::after {
		content: '';
		background: url(../images/image-hero-right.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		flex-basis: 30%;
		margin-right: -3rem;

		@include respond(tab-port) {
			content: '';
			background: none;
			flex-basis: auto;
			margin: 0;
		}
	}

	&__buttons {
		@include respond(phone) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	&__buttons > *:not(:last-child) {
		margin-right: 1.6rem;

		@include respond(phone) {
			margin-right: 0;
			margin-bottom: 1.6rem;
		}
	}
}

// GALLARY SECTION
.gallary {
	max-width: $max-width-small;
	margin: auto;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin-top: 6.4rem;
	margin-bottom: 8rem;
	column-gap: 1.1rem;

	&__img {
		width: 100%;
		border-radius: 1.2rem;
	}

	@include respond(phone) {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 2.5rem;
		row-gap: 2.5rem;
	}
}

// DETAILS SECTION
.details {
	max-width: 35%;
	margin: auto;
	text-align: center;

	@include respond(phone) {
		max-width: $max-width-small;
	}
}

// FOOTER SECTION
.footer {
	position: relative;
	background: url(../images/image-footer.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 11.6rem 0;
	color: $color-white;
	z-index: 1;

	@include respond(phone) {
		padding: 7rem 0;
	}

	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(77, 150, 168, 0.6);
		z-index: -1;
	}

	&__content {
		max-width: $max-width-small;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;

		& > *:not(:last-child) {
			@include respond(phone) {
				margin-bottom: 4rem;
			}
		}

		@include respond(phone) {
			display: block;
			text-align: center;
		}

		& > * {
			flex: 0 0 33%;
		}
	}

	&__button {
		text-align: center;
		flex: 0 0 20%;
	}
}
